<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <title>project_three_app</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/public/javascript/underscore.js"></script>
    <script type="text/javascript" src="/public/javascript/main.js"></script>
    <script type="text/javascript" src="/public/javascript/javascript.js"></script>
  </head>

  <body>
    <h1>Hello from Index.html!</h1>
    <div id="container">
      <div class="game-header" id="head" height="300px" width="100%"></div>
      <script type="text/template" id="card-template">
          <div class="card">
            <div class="charge">
              <span><%%= card.charge%></span>
              <span><%%= card.charge2%></span>
            </div>
            <div class="plate">
              <div class="symbol"><span><%%= card.symbol%></span></div>
              <div class="name"><span><%%= card.name%></span></div>
            </div>
            <div class="info">
              <div class="atomic-number"><span><%%= card.atomicNumber%></span></div>
              <div class="electron_config"><span><%%= card.electronConfiguration%></span></div>
            </div>
            <div class="category">
              <span><%%= card.category%></span>
            </div>
          </div>
      </script>
    </div>
  </body>
</html>
