html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: gray;
  min-height: 100%
}

#container {
  width: 100%;
  height: 100%;
  background-color: blue;
  min-height: 100%
}

.card_space {
  padding;
  border: ;
  border-spacing: ;
  position: absolute;
}

.game-header {
  position: relative;
  display: inline-block;
  background-color: white;
  border-bottom: 0.2em solid black;
  margin-top: ;
  margin-bottom:;
  height: 20%;
  width: 100%;
}

.game-header-container {
  display: inline;
  position: absolute;
  width: 100%;
  height: 20%;
}

#app-name {
  color: black;
  margin-right: ;
  font-size: ;
}

.counter {
  margin-right: ;
  width: 100%;
  height:;
}

.timer {
  font-size: ;
}

.buttons {
  display: inline;
  position: relative;
  vertical-align: super;
  width: ;
  margin-right: ;
}

button {
  width: ;
  height: ;
  border-radius: ;
  background-color: lightblue;
  border: solid black;
}

.modal {
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  border: 2px solid black;
  background-color: white;
  width: ;
  height: ;
  font-size: ;
  position: relative;
  margin-left: auto;
  /*left: 387px;*/
  border-radius: ;
}

.modal-title{
  font-size: ;
  color: blue;
  margin-left: ;
  font-size: ;
  margin-bottom: ;
}

#stats {
  position: relative;
  left: ;
  width: ;
  height: ;
}

#stats-ul {
  margin-top: ;
  font-size: ;
}

#rules-text{
  margin-left: ;
  margin-right: ;
  font-size: ;
}

#game-over-div {
  height:;
}

#game-over-span {
  position: relative;
  font-size: ;
  color: red;
  top: ;
  left: ;
}

.score-span {
  display: inline;
  position: absolute;
  right: ;
  top: ;
  text-align: right;
  font-size: ;
  color: black;
  font-weight: 700;
}

#game-score-span {
  top: ;
  right: ;
  color: black;
}

#best-score-span {
  top: ;
  right: ;
  font-size:;
}

#interval {
  color: #7FFF00;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

.main-page {
  display: flex;
  height: 100%;
}

.deck-div {
  position: absolute;
  width: 78%;
  height: 100%;
  margin-top: 1em;
}

.card {
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  border:  solid black;
  background-color: white;
  width: ;
  height: ;
  font-size:;
  position: relative;
}

.make-molecule-div {
  position: absolute;
  right: ;
  width: 22%;
  margin-top:;
}

.molecule-box {
  margin-left: ;
  margin-top: ;
  display: block;
}

#chemical-equation {
  width: ;
  height: ;
  position: relative;
}

#score-li {
  font-size: ;
}

#score {
  color: blue;
}

#charge-equation {
  height:;
  margin:;
  position: relative;
  font-weight: bold;
  font-size: ;
  text-align: center;
  width: ;
  margin-left:;
  margin-right:;
}

.box {
  /*-webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);*/
  border: dotted black;
  background-color: lightgray;
  width: ;
  height: ;
  font-size:;
  position: relative;

}


.charge {
  display: inline;
  position: absolute;
  right:;
  top:;
  text-align: right;
  font-size: ;
  color: red;
  font-weight: 700;
}

.plate {
  position: absolute;
  left: ;
  width: ;
  top: ;
  text-align: center;
}

.symbol {
  font-size: ;
  text-align: center;
  font-weight: 700;
}

.name {
  font-size: ;
  text-align: center;
}

.info {
  display: inline;
  position: absolute;
  left:;
  top: ;
  text-align: left;
}

.atomic-number {
  font-size: ;
}

.electron-config {
  font-size: ;
  color: pink;
}

.category {
  display: inline;
  position: absolute;
  right: ;
  right: ;
  top: ;
  font-size: ;
  text-align: right;
}


li {
  list-style-type: none;
  display: inline-block;
  margin-right: ;
  margin-bottom: ;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.demo-card-ul {
  position: absolute;
  top: ;
  left: ;
}

.ps2 {
  width:90%;
  background:#30a5dc;
  -moz-animation:html5 2s ease-out;
  -webkit-animation:html5 2s ease-out;
}
.ai2 {
  width:80%;
  background:#ee742b;
  -moz-animation:css3 2s ease-out;
  -webkit-animation:css3 2s ease-out;
}
.html2 {
  width:75%;
  background:#f04949;
  -moz-animation:jquery 2s ease-out;
  -webkit-animation:jquery 2s ease-out;
}
.css2 {
  width:85%;
  background:#39d084;
  -moz-animation:photoshop 2s ease-out;
  -webkit-animation:photoshop 2s ease-out;
}
