body {
  background-color: gray;
}

.card_space {
  padding: 5px;
  border: 5px;
  border-spacing: 2px;
  position: absolute;
}

.box {
 -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 3px #000000;
  -webkit-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.game-header {
  position: relative;
  display: inline-block;
  background-color: white;
  border-bottom: 2px solid black;
  margin-top: -22px;
  margin-bottom: -6px;
  height: 85px;
  width: 100%;
}

.game-header-container {
  display: inline;
  position: absolute;
}

#app-name {
  color: black;
  margin-right: 200px;
}

.counter {
  margin-right: 157px;
}

.timer {
  font-size: 20px;
}
.buttons {
  display: inline;
  position: relative;
  vertical-align: middle;
  width: 500px;
  height: 40px;
}

button {
  width: 100px;
  height: 35px;
  border-radius: 23px;
  background-color: lightblue;
  border: solid black 2px;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

.deck-div {
  position: absolute;
}

.card {
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
  border: 2px solid black;
  background-color: white;
  width: 16em;
  height: 18em;
  font-size: 8px;
  position: relative;
}

.charge {
  display: inline;
  position: absolute;
  right: 0;
  right: 7px;
  top: 4px;
  text-align: right;
  font-size: 16px;
  color: red;
  font-weight: 700;
}

.plate {
  position: absolute;
  left: 31px;
  width: 60px;
  top: 27px;
  text-align: center;
}

.symbol {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.name {
  font-size: 15px;
  text-align: center;
}

.info {
  display: inline;
  position: absolute;
  left: 7px;
  top: 105px;
  text-align: left;
}

.atomic-number {
  font-size: 18px;
}

.electron_config {
  font-size: 12px;
  color: pink;
}

.category {
  display: inline;
  position: absolute;
  right: 0;
  right: 7px;
  top: 124px;
  font-size: 12px;
  text-align: right;
}


li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.metal {
  color: red;
}

.nonmetal {
  color: blue;
}

.metalloid {
  color: purple;
}

.transition_metal {
  color: orange;
}

.noble_gas {
  color: gray;
}
